<span id="notice"><%= notice %></span>
<div class="pagehead">
    <div class="container">
        <div class="titlehead">Dining Tables</div>
    </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h5 class="display-4">Having dinner with friends and family that's great time...</h5>
    <p>Currently, Demo text... This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  </div>
</div>

<div class="container">
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <% if @diningtables.length > 0 %>
          <% @diningtables.each do |diningtable| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <%= link_to image_tag(diningtable.image_url.to_s, class: "card-img-top", style: 'width:100%;display: block;'), image_path(diningtable.image_url.to_s), :data => {:lightbox => "dining"} %>
                <div class="card-body">
                  <p class="card-text"><%= diningtable.diningtitle %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <% (0..2).each do |i| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= link_to image_tag('logo_icon.png', class: "card-img-top", style: 'width:100%;display: block;'), image_path('logo_icon.png'), :data => {:lightbox => "demoimage"} %>
                <div class="card-body">
                  <p class="card-text">Dining image title</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
</div>