<div class='content-area'>
  <div class="content-area-box">
    <div class="container p-4">
      <h1 class="border-bottom mb-4 text-center border-warning pb-2">शिक्षा संस्कृति</h1>
      <div>
        <p>शिक्षा और संस्कृति दुनिया को एक नई दिशा प्रदान करती है. मनुष्य के जीवन में शिक्षा और संस्कार का बहुत ही ज्यादा महत्व है. इन दोनों के होने से मनुष्य अपने जीवन में होने वाले सभी कठिनाईओ को सफलता पूर्वक पार कर लेते है. जीवन में कोई भी समस्या आये उसे स्वयं दृढ़ता पूर्वक सामना करते है</p>

        <p>शिक्षा गुरु और शिष्य की देन है और संस्कृति संस्कार बांध पुरुषों की देन है गुरु और शिष्य परंपरा से ही शिक्षा का आदान प्रदान किया जाता है और संस्कारवान व्यक्ति ही संस्कृति का निर्माण करते हैं</p>

        <p>किसी भी देश की उन्नति और उसका गौरव इन्हीं पर निर्भर करता है। शिक्षा और संस्कृति सभ्यता का द्योतक है। शिक्षा और संस्कृति की ओट में ही काल विशेष की विशेषता छिपी रहती है; जिसे समय-समय पर मनुष्य उद्घाटित करता है। शिक्षा जीवन में व्याप्त अंधकार को दूर कर हमारे जीवन और वातावरण में सामंजस्य स्थापित करती है। वह हमें आत्मनिर्भर बनाती है। शिक्षित समाज ही उन्नति-प्रगति के पथ पर आगे बढ़ाता है।</p>

        <p>इस लिए प्रत्येक मनुष्य को अपने शिक्षा और संस्कार को हर क्षण बनाये रखना चाहिए</p>
      </div>

      <hr />

      <div class="row text-center">
        <% @sanskrities.each do |sanskriti| %>
          <div class="col-md-4">
            <div class="card bg-warning text-white mb-4 shadow-sm">
              <div class="card-header"><strong><%= sanskriti.title %></strong></div>
              <%= link_to sanskriti, class: "card-body bg-dark" do %>
                <div class="card-text text-white"><%= short_description(sanskriti.description, 60).html_safe %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>