<span id="notice"><%= notice %></span>
<div class="pagehead">
    <div class="container">
        <div class="titlehead">Cots</div>
    </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h5 class="display-4">Main heading related to page!! </h5>
    <p>Currently, Demo text... This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  </div>
</div>

<div class="container">
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <% if @cots.length > 0 %>
          <% @cots.each do |cot| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag cot.image_url.to_s, class: "card-img-top", style: 'height:225px;width:100%;display: block;' %>
                <div class="card-body">
                  <p class="card-text"><%= cot.cottitle %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <% (0..5).each do |i| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag('logo_icon.png', class: "card-img-top", style: 'height:225px;width:100%;display: block;') %>
                <div class="card-body">
                  <p class="card-text">Cots image title</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>