<p id="notice">
    <%= notice %>
</p>
<div id="head">
    <div class="line">
        <h1>Cots</h1>
    </div>
</div>
<div id="content">
    <div class="line">
        <div class="margin">
            <% @cots.each do |cot| %>
                <div class="s-12 m-6 l-4">
                    <%= image_tag cot.image_url.to_s, style: 'height:150px;width:auto;' %>
                        <p class="subtitile">
                            <%= cot.cottitle %>
                        </p>
                </div>
              <% end %>
        </div>
    </div>
</div>