<div class="pagehead">
  <div class="container">
    <div class="titlehead">Mattresses</div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h5 class="display-4">Mattresses designed for sleep home for the holidays. </h5>
    <p>There are many popular hybrid mattress for unprecedented comfort for new life style. Freshly painted on the walls around us loomed big black letters spelling out the “rules of life movements,”</p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <%= render partial: "shared/common", locals: { datas: @mattresses } %>
      </div>
    </div>
    <div>
      <div id="cart">
        <%= render 'carts/cart' %>
      </div>
    </div>
  </div>
</div>