<div class='content-area'>
  <div class="content-area-box">
    <div class="container py-5">
      <h1 class="border-bottom mb-4 text-center border-warning pb-2">मठ के कुछ चित्र</h1>
      <div id="lightbox-gallery">
        <ul>
          <% @images.each do |image| %>
            <li>
              <%= link_to image_url(image), data: {lightbox: "math-gallery"} do %>
                <%= image_tag(image, border:0, alt: "Shree Ram Janaki Math", class: "", data: { lightbox: "math-gallery"}, 'data-title': 'images') %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
