<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ЁЯЩПредред рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо рдЬрдп рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо редредЁЯЩП</h1>

    <h2>рд╣рдорд╛рд░реА рдореЗрд▓рд┐рдВрдЧ рд╕реВрдЪреА рдореЗрдВ рд╢рд╛рдорд┐рд▓ рд╣реЛрдиреЗ рдХреЗ рд▓рд┐рдП рдзрдиреНрдпрд╡рд╛рдж!</h2>
    <p><strong>рдирд╛рдо</strong>: <%= @sender['name'] %></p>
    <p><strong>рдИрдореЗрд▓</strong>: <%= @sender['email'] %></p>
    <p><strong>рд╕рдВрджреЗрд╢</strong>: <%= @sender['body'] %></p>

    <h2>рдЖрдкрдХрд╛ рд╕рдВрдкрд░реНрдХ рд╕рдВрджреЗрд╢ рд╕рдлрд▓рддрд╛рдкреВрд░реНрд╡рдХ рд╕рдмрдорд┐рдЯ рдХрд░ рджрд┐рдпрд╛ рдЧрдпрд╛ рд╣реИ, рд╣рдо рдХрд┐рд╕реА рднреА рдХрд╛рд░реНрдпрдХреНрд░рдо рд╕реЗ рд╕рдВрдмрдВрдзрд┐рдд рд╢реАрдШреНрд░ рд╣реА рдЖрдкрд╕реЗ рд╕рдВрдкрд░реНрдХ рдХрд░реЗрдВрдЧреЗред</h2>
    <p>рдХрд▓реНрдпрд╛рдгрдкреБрд░ рдорда рдкрд░ рд╣реЛрдиреЗ рд╡рд╛рд▓реЗ рд╕рднреА рдХрд╛рд░реНрдпрдХреНрд░рдо рдХреА рдЬрд╛рдирдХрд╛рд░реА рдЕрдм рдЖрдкрдХреЛ рдЗрдореИрд▓ рд╕реЗ рдорд┐рд▓реЗрдЧреА...</p>

    <h4>рд╢реНрд░реА рд░рд╛рдо рдЬрд╛рдирдХреА рдорда</h4>
    <p>рдЧрд╛рдБрд╡:- рдХрд▓реНрдпрд╛рдгрдкреБрд░ <br />рдерд╛рдирд╛:- рдкрддрд╛рд╣реА <br />рдЬрд┐рд▓рд╛:- рдкреВрд░реНрд╡реА рдЪрдВрдкрд╛рд░рдг <br />рдмрд┐рд╣рд╛рд░ - 845457</p>
    <p>+91-8800133342</p>
  </body>
</html>