<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ЁЯЩПредред рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо рдЬрдп рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо редредЁЯЩП</h1>

    <h2>рд╣рдорд╛рд░реА рдореЗрд▓рд┐рдВрдЧ рд╕реВрдЪреА рдореЗрдВ рд╢рд╛рдорд┐рд▓ рд╣реЛрдиреЗ рдХреЗ рд▓рд┐рдП:-</h2>
    <p><strong>рдирд╛рдо</strong>: <%= @sender_self['name'] %></p>
    <p><strong>рдИрдореЗрд▓</strong>: <%= @sender_self['email'] %></p>
    <p><strong>рд╕рдВрджреЗрд╢</strong>: <%= @sender_self['body'] %></p>

    <h4>рд╢реНрд░реА рд░рд╛рдо рдЬрд╛рдирдХреА рдорда</h4>
    <p>рдЧрд╛рдБрд╡:- рдХрд▓реНрдпрд╛рдгрдкреБрд░ <br />рдерд╛рдирд╛:- рдкрддрд╛рд╣реА <br />рдЬрд┐рд▓рд╛:- рдкреВрд░реНрд╡реА рдЪрдВрдкрд╛рд░рдг <br />рдмрд┐рд╣рд╛рд░ - 845457</p>
    <p>+91-8800133342</p>
  </body>
</html>