<p id="notice"><%= notice %></p>
<div id="head">
    <div class="line">
        <h1>Sofas</h1>
    </div>
</div>
<div id="content">
    <div class="line">
        <div class="margin">
            <% @sofas.each do |sofa| %>
                <div class="s-12 m-6 l-4">
                    <%= image_tag sofa.image_url.to_s, style: 'height:auto;width:100%;' %>
                        <p class="subtitile">
                            <%= sofa.sofatitle %>
                        </p>
                </div>
              <% end %>
        </div>
    </div>
</div>
