<div class="pagehead">
    <div class="container">
        <div class="titlehead">Sofas</div>
    </div>
</div>

<div class="jumbotron p-4 m-0">
  <div class="container">
    <h5 class="display-4">comfortable functional, stylish design and innovative. </h5>
    <p>Discover and get contemporary two seater, there are seater and modular sofas the best leading modern design brands. For good value, high quality sofas, chairs & beds in glorious fabrics...</p>
  </div>
</div>
<hr />
<div class="bg-light p-4 m-0">
  <div class="container">
    <div class="container">
      <div class="row">
        <%= render partial: "shared/common", locals: { datas: @sofas } %>
      </div>
    </div>
  </div>
</div>
<hr />