<span id="notice"><%= notice %></span>
<div class="pagehead">
    <div class="container">
        <div class="titlehead">Sofas</div>
    </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h5 class="display-4">comfortable functional, stylish design and innovative. </h5>
    <p>Discover and get contemporary two seater, there are seater and modular sofas the best leading modern design brands. For good value, high quality sofas, chairs & beds in glorious fabrics...</p>
  </div>
</div>

<div class="container">
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <% if @sofas.length > 0 %>
          <% @sofas.each do |sofa| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= link_to image_tag(sofa.image_url.to_s, class: "card-img-top", style: 'width:100%;display: block;'), image_path(sofa.image_url.to_s), :data => {:lightbox => "sofas"} %>
                <div class="card-body">
                  <p class="card-text"><%= sofa.sofatitle %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <% (0..3).each do |i| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= link_to image_tag('logo_icon.png', class: "card-img-top", style: 'width:100%;display: block;'), image_path('logo_icon.png'), :data => {:lightbox => "demoimage"} %>
                <div class="card-body">
                  <p class="card-text">Sofa image title</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
</div>