<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi you have got new email subscribed</h1>
    <h3>Here is details:</h3>
    <p>Email: <%= @subscriptionEmail['email'] %></p>
  </body>
</html>