<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thanks for joinging our mailing list!</h2>
    <p>You will received every new update from our side...</p>
    
  </body>
</html>