<span id="notice"><%= notice %></span>
<div class="pagehead">
    <div class="container">
        <div class="titlehead">Mattresses</div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @mattresses.each do |mattress| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag mattress.image_url.to_s, class: "card-img-top", style: 'height:225px;width:100%;display: block;' %>
            <div class="card-body">
              <p class="card-text"><%= mattress.matresstitle %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>