<span id="notice"><%= notice %></span>
<div class="pagehead">
    <div class="container">
        <div class="titlehead">Mattresses</div>
    </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h5 class="display-4">Mattresses designed for sleep home for the holidays. </h5>
    <p>There are many popular hybrid mattress for unprecedented comfort for new life style. Freshly painted on the walls around us loomed big black letters spelling out the “rules of life movements,”</p>
  </div>
</div>

<div class="container">
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <% if @mattresses.length > 0 %>
          <% @mattresses.each do |mattress| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <%= link_to image_tag(mattress.image_url.to_s, class: "card-img-top", style: 'width:100%;display: block;'), image_path(mattress.image_url.to_s), :data => {:lightbox => "mattress"}  %>
                <div class="card-body">
                  <p class="card-text"><%= mattress.matresstitle %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <% (0..2).each do |i| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= link_to image_tag('logo_icon.png', class: "card-img-top", style: 'width:100%;display: block;'), image_path('logo_icon.png'), :data => {:lightbox => "demoimage"} %>
                <div class="card-body">
                  <p class="card-text">Matress image title</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
</div>