<div class='content-area'>
  <div class="content-area-box">
    <div class="container py-5">
      <h1 class="border-bottom mb-4 py-2 text-center border-warning pb-2">सुविचार</h1>
      <div class="row text-center">
        <% @suvichars.each do |suvichar| %>
          <div class="col-md-4">
            <div class="card bg-warning text-white mb-4 shadow-sm">
              <div class="card-header"><strong><%= suvichar.suvichar_title %></strong></div>
              <%= link_to suvichar, class: "card-body bg-danger" do %>
                <div class="card-text text-white"><%= short_description(suvichar.suvichar_text, 60).html_safe %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
